* {
    padding: 0;
    margin: 0;
}

.small {
    line-height: 3.0;
}

/* Header */

header img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
}

header div {
    color: white;
    background-color: #161616;
    margin-top: -1vh;
    display: flex;
    justify-content: space-around;
}

header div h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 5vh;
}

header div div {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    width: 30%;
}

header div div p {
    font-size: 25px;
}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
}

/* Main */

/* Section livstil */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container div {
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7%;
}

.livstil h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

.livstil p {
    color: #6e6e6e;
    font-size: 25px;
}

/* Section træhuse */

.træhuse {
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

.træhuse div {
    background-color: white;
    padding-bottom: 5%;
    margin-right: 2%;
}

.træhuse div img {
    width: 60vh;
}

.træhuse h3 {
    padding-left: 2vh;
    font-size: 40px;
}

.træhuse p {
    color: #6e6e6e;
    padding-left: 2vh;
}

/* Section udvalg*/

.udvalg {
    background-image: url("img/5642_Hejrelunden_\(20\).jpg");
    background-position: center;
    height: 800px;
    display: grid;
    place-items: center;
}

.udvalg a {
    text-align: center;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    border-radius: 50px;
    padding: 0.5em 2em;
    display: block;
}

.udvalg a:link {
    color: white;
    text-decoration: none;
}

.udvalg a:visited {
    color: white;
}

/* Footer */

footer {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

footer div {
    padding-top: 200px;
    padding-left: 5%;
}

footer div p {
    color: #6e6e6e;
    font-size: 30px;
}

footer div:last-of-type {
    padding-top: 60px;
    width: 20vh;
}

footer div svg {
    width: 50px;
    fill: #6e6e6e;
    padding-left: 3%;
}

footer a:link {
    color: #6e6e6e;
}

footer a:visited {
    color: #6e6e6e;
}